# Predict Caediovascular Diseases

Models which we have applied on our dataset are:

* Random Forest Model
* Decision Tree Model
* Logistic Regression Model

Import Library

In [131]:
import pandas as pd 
from sklearn.metrics import accuracy_score

# what is pandas?

Pandas is a Python library. Pandas is used to analyze data. Learning by Reading.

# What is Sklearn?

Scikit-learn is probably the most useful library for machine learning in Python. The sklearn library contains a lot of efficient tools for machine learning and statistical modeling including classification, regression, clustering and dimensionality reduction.

# What is sklearn.metrics?
The sklearn.metrics module implements functions assessing prediction error for specific purposes.

# Accuracy classification score.

In multilabel classification, this function computes subset accuracy: the set of labels predicted for a sample must exactly match the corresponding set of labels in y_true.

Read Dataset

In [132]:
data = pd.read_csv('heart_failure_clinical_records_dataset.csv')
print('Dataset :',data.shape)
data.info()
data[0:10]

Dataset : (299, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1
7,60.0,1,315,1,60,0,454000.00,1.1,131,1,1,10,1
8,65.0,0,157,0,65,0,263358.03,1.5,138,0,0,10,1
9,80.0,1,123,0,35,1,388000.00,9.4,133,1,1,10,1

pd.read_csv is use to access the CSV file

data.info() is used to print info of all the colums

Shape

In [133]:
# Print number of rows in data
print(data.shape)

(299, 13)

data.shape is used to show shape of the dataset (rows,columns)

Size

In [134]:
# Size and shape of dataset
print(data.size)

3887

data.size is used to show the size of dataset

Describe

In [135]:
# Prints Summary of Data
data.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

data.describe is used to describe the data set

Check null values

In [136]:
data.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

.isnull() is used to check whether there is any null value in the dataset or not 

if we use data.isnull() it will show true and false value , if value is true that means there is a null value in that column, and if it is false that means there is no null values.

data.isnull().sum() by using this it shows the sum of all the null values in the row in dataset.

# SPLITING DATA
Data for training and testing
To select a set of training data that will be input in the Machine Learning algorithm, to ensure that the classification algorithm training can be generalized well to new data. For this study using a sample size of 5% ( aims to reduce the overfitting effect).

In [137]:
from sklearn.model_selection import train_test_split
Y = data['DEATH_EVENT']
X = data.drop(columns=['DEATH_EVENT'])

Here I have used DEATH_EVENT as the splitting col coz it have only 0 and 1 values in that column

In [138]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.15)

Training and testing of dataset

In [139]:
print('X train shape: ', x_train.shape)
print('Y train shape: ', y_train.shape)
print('X test shape: ', x_test.shape)
print('Y test shape: ', y_test.shape)

X train shape:  (254, 12)
Y train shape:  (254,)
X test shape:  (45, 12)
Y test shape:  (45,)

Shapes of train and test

Using PCA Scalar

# PCA

In [140]:
from sklearn.decomposition import PCA
mms=PCA()
x_train_pca = mms.fit_transform(x_train)
x_test_pca = mms.transform(x_test)

fit_transform() is used on the training data so that we can scale the training data and also learn the scaling parameters of that data. 

Using the transform method we can use the same mean and variance as it is calculated from our training data to transform our test data.

# Logistic Regression

In [141]:
from sklearn.linear_model import LogisticRegression 
lr=LogisticRegression()
lr.fit(x_train_pca,y_train)

#predicting
lr_predict=lr.predict(x_test_pca)

lr_acc=accuracy_score(y_test,lr_predict)
print(lr_acc)

0.7777777777777778

linear_model is a class of the sklearn module if contain different functions for performing machine learning with linear models.

fit() is implemented by every estimator and it accepts an input for the sample data (X) and for supervised models it also accepts an argument for labels

Python predict() function enables us to predict the labels of the data values on the basis of the trained model.

The accuracy_score method is used to calculate the accuracy of either the faction or count of correct prediction in Python Scikit learn.

# Random Forest Classifier

In [142]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train_pca,y_train)

#predict
rf_predict=rf.predict(x_test_pca)

rf_acc=accuracy_score(y_test,rf_predict)
print(rf_acc)

0.8444444444444444

The sklearn. ensemble module includes two averaging algorithms based on randomized decision trees: the RandomForest algorithm and the Extra-Trees method.

# Decision Tree Classification

In [143]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(x_train_pca,y_train)

#predict
dt_predict=dt.predict(x_test_pca)

dt_acc=accuracy_score(y_test,dt_predict)
print(dt_acc)

0.7555555555555555